#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: linear-gradient(gainsboro, gray);

  main {
    flex: 1;
    background-image: url("./images/bright-squares.png");
    background-repeat: repeat;
  }
}